#commendations {
    overflow: hidden;
    width: 100%;
    height: 380px;
}

.commendation-wrapper {
    float: left;
    margin-top: 15px;
    width: 448px;
    border: 1px solid;
}

.commendation-wrapper.left {
    margin-right: 8px;
    margin-left: 50px;
}

.commendation-wrapper.right {
    margin-left: 12px;
    margin-right: 50px;
}

.commendation-wrapper.top.left {
    border-top-right-radius: 5px;
}

.commendation-wrapper.top.right {
    border-top-left-radius: 5px;
}

.commendation-wrapper.bottom.left {
    border-bottom-right-radius: 5px;
}

.commendation-wrapper.bottom.right {
    border-bottom-left-radius: 5px;
}

.commendation-info {
    width: 100%;
    height: 100px;
}

.commendation-stats {
    margin-top: 20px;
    height: 50px;
}

.commendation-info img {
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
}

.commendation-info div {
    margin-left: 110px;
    margin-top: -100px;
}

.commendation-level {
    text-transform: uppercase;
}

.commendation-description {
    position: relative;
    top: 5px;
}

.outer-bar {
    margin-bottom: 10px;
    width: 100%;
    height: 8px;
    background-color: rgb(232, 232, 232);
}

.inner-bar {
    height: 100%;
    background-color: rgb(67, 187, 239);
}

.commendation-reward {
    float: left;
    margin-left: 5px;
}

.commendation-progress {
    float: right;
    margin-right: 5px;
}

#commendation-nav {
    width: 100%;
    height: 365px;
    margin-top: -380px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
}

.nav {
    background-color: rgba(0, 0, 0, .25);
    color: rgb(255,255,255);

    height: 359px;
    width: 45px;
    line-height: 355px;
}

.nav:hover {
    cursor: pointer;
}

#nav-left {
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav-right {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
