#requisitions-overview .left {
    float: left;
    width: 50%;
}

#requisitions-overview .right {
    float: right;
}

#requisitions {
    overflow: auto;
    width: 100%;
}

#requistions-packs {
    width: 100%;
}

#requisitions-packs {
    width: 100%;
}

#requisitions-packs {
    border: 1px solid black;
    border-collapse: collapse;
}

#requisitions-packs th {
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: uppercase;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

#requisitions-packs td {
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: uppercase;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

.requisition-wrapper {
    float: left;
    margin-top: 15px;
}

.requisition-header {
    /*cursor: pointer;*/
}

.requisition-wrapper.left {
    margin-right: 10px;
}

.requisition-wrapper.right {
    margin-left: 10px;
}

.requisition-wrapper.left .requisition-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
}

.requisition-wrapper.right .requisition-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 5px;
}

.requisition-header {
    border: 1px solid;

    padding: 5px;
    padding-left: 15px;
}

.requisition-category {
    width: 498px;

    border: solid;
    border-width: 0px 1px 1px 1px;
}

.requisition-category.last {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.requisition-category table {
    margin-left: 20px;
    margin-bottom: 10px;
}

.requisition-category td {
    width: 150px;
}

.requisition-category-header {
    padding: 5px 0px 5px 15px;
    cursor: pointer;
}

.requisition-arrow {
    position: relative;
    top: 1;
    width: 15px;
    height: 15px;
}
